# OVR imports
OculusSDK

# Duangle imports
python-ovr
python-glm
pyopengl-cffi

# Python crap
*.pyc

# apitrace files
*.trace

# ide / editor crap
.project
.pydevproject
tags

# get_stuff.sh crap
build_lock
